---
/**
 * ロゴ
 */
import {IMG_PATH} from '../consts.js';

interface Props {
    en?: boolean;
    link?: boolean; //トップページにリンクするかどうか
    addClass?: boolean;
}

const { en = false, link = false, addClass = '' } = Astro.props;

// 画像パス生成
const src = en ? IMG_PATH + 'common/logo_en.svg' : IMG_PATH + 'common/logo.svg';
const alt = en ? '株式会社屋根折り' : 'YANEORI';
---

{link ? (
    <a class:list={['logo', addClass]} href="/">
        <img src={src} alt={alt}/>
    </a>
) : (
    <p class:list={['logo', addClass]}>
        <img src={src} alt={alt}/>
    </p>
)}

<style lang="scss">
.logo {
    img {
        width: 100%;
        filter: g.$svg_color_base;
    }
    
    &.is_white {
        img {
            filter: g.$svg_color_white;
        }
    }
}
</style>
